<?xml version="1.0"?>
<!--
/**
 * Mavenbird Technologies Private Limited
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://mavenbird.com/Mavenbird-Module-License.txt
 *
 * =================================================================
 *
 * @category   Mavenbird
 * @package    Mavenbird_PredefinedAdminOrderComments
 * @author     Mavenbird Team
 * @copyright  Copyright (c) 2018-2024 Mavenbird Technologies Private Limited ( http://mavenbird.com )
 * @license    http://mavenbird.com/Mavenbird-Module-License.txt
 */ 
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <update id="Magento_Backend::mbmenu" title="Mavenbird" module="Magento_Backend" sortOrder="10" resource="Magento_Backend::mbmenu" />

        <add id="Mavenbird_PredefinedAdminOrderComments::Heading" title="Predefined Admin Order Comments" module="Mavenbird_PredefinedAdminOrderComments" sortOrder="20" parent="Magento_Backend::mbmenu" resource="Mavenbird_PredefinedAdminOrderComments::Heading" />
        <add id="Mavenbird_PredefinedAdminOrderComments::configuration" title="Configuration" module="Mavenbird_PredefinedAdminOrderComments" sortOrder="10" parent="Mavenbird_PredefinedAdminOrderComments::Heading" action="adminhtml/system_config/edit/section/predefinedadminordercomments" resource="Mavenbird_PredefinedAdminOrderComments::configuration"/>
        <add id="Mavenbird_PredefinedAdminOrderComments::content_admin_order_comments" title="Comments" translate="title" module="Mavenbird_PredefinedAdminOrderComments" sortOrder="10" parent="Mavenbird_PredefinedAdminOrderComments::Heading" action="predefined/comment/index" resource="Mavenbird_PredefinedAdminOrderComments::admin_order_comments"/>

        <add id="Mavenbird_PredefinedAdminOrderComments::content_predefined" title="Predefined Admin Order Comments" translate="title" module="Mavenbird_PredefinedAdminOrderComments" sortOrder="80" parent="Magento_Backend::content" resource="Mavenbird_PredefinedAdminOrderComments::predefined"/>
        <add id="Mavenbird_PredefinedAdminOrderComments::content_admin_order_comments_content" title="Comments" translate="title" module="Mavenbird_PredefinedAdminOrderComments" sortOrder="10" parent="Mavenbird_PredefinedAdminOrderComments::content_predefined" action="predefined/comment/index" resource="Mavenbird_PredefinedAdminOrderComments::admin_order_comments"/>
    </menu>
</config>
